target
.idea
.classpath
.project
.settings
.DS_Store
*.iml
*.ipr
*.iws
bin
deploy
deploy.log
BLOB_STORE
*.swp
dev-local.properties
generated-test.properties
dependency-reduced-pom.xml
*.log*
!*sdms.log*
!*loads.log*
kafka-upgrade-bundle.tgz
test_es
*.pyc
collector-framework/dataproviders/dpsdms.log
denorm/denorm-programs/es_test_data/
troubleshoot/app/es_test_data/
restapilayer/es_test_data/
tools-module/tools/es_test_data/
query/es_test_data/
service-mgmt/services/launcher/horizontalupgrade/proto
tools-module/tools/es_test_data/
